body {
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    font-weight: 300;
    min-height: 100%;
}
h1, h2, h3, h4 {
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    font-weight: 300;
}
.center {
    text-align: center;
}
.bold {
    font-weight: 700;
}
.bg-image-full {
    background: no-repeat center center scroll;
    background-color: #1A1F30; /* For browsers that do not support gradients */
    background-image: linear-gradient(210deg, #2A2D66, #060520); /* Standard syntax (must be last) */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh; //calc(100vh);
    height: calc(var(--vh, 1vh) * 100);
    opacity: 0.95;
    display: flex;
    justify-content: center;
    text-align: center;

    // align-items: center;
    flex-direction: column;
    .container {
      text-align: center;
      align-self: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
    }
    .recommendation {
      position: absolute;
      top: 40px;
      right: -95px;
      z-index: 10;
      display: inline-block;
      width: 330px;
      text-align: center;
      padding: .25em 0;
      color: white;
      transform: rotate(45deg);
      background: rgb(151, 29, 29);
      font-size: 0.9rem;
      @media only screen and (min-width: 420px) {
          font-size: 1.0rem;
      }
      @media only screen and (min-width: 768px) {
          font-size: 1.1rem;
      }
      @media only screen and (min-width: 1024px) {
        top: 50px;
        right: -75px;
        font-size: 1.2rem;
      }
      &:hover {
        text-decoration: none;;
      }
    }
    .title {
        color: #fff;
        padding-top: 10px;
        font-size: 1.8rem;
        margin-bottom: 10px;
        @media only screen and (min-width: 420px) {
            font-size: 2.4rem;
        }
        @media only screen and (min-width: 768px) {
            font-size: 3.2rem;
        }
        @media only screen and (min-width: 1024px) {
            font-size: 4rem;
        }
    }
    .logo {
        width: 100px;
        @media only screen and (min-width: 420px) {
            width: 120px;
        }
        @media only screen and (min-width: 768px) {
            width: 160px;
        }
        @media only screen and (min-width: 1024px) {
            width: 200px;
        }
    }
    .subtitle {
        text-align: center;
        color: #bbb;
        font-size: 0.78rem;
        @media only screen and (min-width: 375px) {
            font-size: 0.9rem;
        }
        @media only screen and (min-width: 420px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 768px) {
            font-size: 1.1rem;
        }
        @media only screen and (min-width: 1024px) {
            font-size: 1.3rem;
        }
    }
    .text > a {
        text-align: center;
        color: #fff;
        font-size: 0.9rem;
        &:hover {
            color: #aaa;
            text-decoration: none;
        }
        @media only screen and (min-width: 375px) {
            font-size: 0.9rem;
        }
        @media only screen and (min-width: 420px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 768px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 1024px) {
            font-size: 1.1rem;
        }
    }
    .version {
        text-align: center;
        margin-bottom: 10px;
        color: #fff;
        font-size: .9rem;
        @media only screen and (min-width: 420px) {
            font-size: .9rem;
        }
        @media only screen and (min-width: 768px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 1024px) {
            font-size: 1.1rem;
        }
    }
    .down {
      text-align: center;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1;
      margin-bottom: 15px;
      cursor: pointer;
      .caret {
        font-size: 3rem;
      }
    }
}

// a[ id="quickstart" ]:target ~ #main div.row {
//     transform: translateY( -500px );
// }

// #quickstart {
//   background-color: #ff3333;
// }
.nav {
    background: no-repeat center center scroll;
    background-color: #1A1F30; /* For browsers that do not support gradients */
    background-image: linear-gradient(210deg, #2A2D66, #060520); /* Standard syntax (must be last) */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 65px;
    position: relative;
    .logo {
        width: 60px;
        margin-top: 12px;
    }
    .title {
        display: none;
        color: #fff;
        font-size: 1.2rem;
        margin-left: 15px;
        margin-top: 18px;
        @media only screen and (min-width: 768px) {
            display: inline-block;
        }
        @media only screen and (min-width: 1024px) {
            font-size: 1.2rem;
        }
    }
    .text {
        margin-top: 18px;

        a {
            color: #fff;
            margin-top: 12px;
            font-size: 1.0rem;
            @media only screen and (min-width: 1023px) {
                margin-top: 10px;
                font-size: 1.2rem;
            }
            &:hover {
                color: #aaa;
                text-decoration: none;
            }
        }
    }
    .github {
      display: none;
      @media only screen and (min-width: 768px) {
        display: inline-block;
      }
    }
    .todocs {
      display: inline-block;
      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
}
.features {
    text-align: center;
    color: #333;
    .inner {
      padding: 10px 0px;
      @media only screen and (min-width: 768px) {
        padding: 15px 20px;
      }
      .icons {
          display: block;
          font-size: 3rem;
          color: #bbb;
          @media only screen and (min-width: 420px) {
              font-size: 3.5rem;
          }
          @media only screen and (min-width: 768px) {
              font-size: 4rem;
          }
          @media only screen and (min-width: 1024px) {
              font-size: 5rem;
          }
      }
      .icontitle {
          font-size: 1.2rem;
      }

      &:hover {
          background: #f4f4f4;
          color: rgb(86, 122, 223);
          .icons {
            color: rgb(86, 122, 223);
          }
      }
    }
}
.sectionheader {
    .title {
        text-align: center;
        padding-top: 20px;
        font-size: 2rem;
        @media only screen and (min-width: 420px) {
            font-size: 2.3rem;
        }
        @media only screen and (min-width: 768px) {
            text-align: left;
            padding-top: 25px;
            font-size: 2.6rem;
        }
        @media only screen and (min-width: 1024px) {
            padding-top: 30px;
            font-size: 3rem;
        }
    }
    .title-small {
        text-align: center;
        font-size: 1.4rem;
        @media only screen and (min-width: 420px) {
            font-size: 1.6rem;
        }
        @media only screen and (min-width: 768px) {
            text-align: left;
            padding-top: 25px;
            font-size: 1.8rem;
        }
        @media only screen and (min-width: 1024px) {
            padding-top: 30px;
            font-size: 2rem;
        }
    }
    .subtitle {
        text-align: center;
        font-size: .9rem;
        @media only screen and (min-width: 420px) {
            font-size: 1rem;
        }
        @media only screen and (min-width: 768px) {
            text-align: left;
            font-size: 1.1rem;
        }
        @media only screen and (min-width: 1024px) {
            font-size: 1.3rem;
        }
    }
    .npmicons {
        text-align: center;
    }
    .text {
        text-align: center;
        padding-top: 10px;
        @media only screen and (min-width: 768px) {
            text-align: left;
        }
    }
    hr {
        margin-top: 40px;
        margin-bottom: 0px;
        border: 1px solid #ddd;
    }
}
.index {
  margin: 0 0 10px 0;
  .text, .subtitle, .title, .title-small, .npmicons {
      text-align: center;
  }
  a {
      text-decoration: none;
      &:hover {
          text-decoration: none;
          color: rgb(86, 122, 223);
      }
  }
}
.left {
    .text, .subtitle, .title, .title-small .npmicons {
        text-align: left;
    }
}
.table {
    text-align: left;
}
ul {
    text-align: left;
}
.number-section {
    margin-top: 40px;
    text-align: center;
    .numbers {
        font-size: 2rem;
        @media only screen and (min-width: 420px) {
            font-size: 2.4rem;
        }
        @media only screen and (min-width: 768px) {
            font-size: 2.8rem;
        }
    }
    .title {
        color: #999;
        font-size: 1rem;
        @media only screen and (min-width: 420px) {
            font-size: 1.1rem;
        }
        @media only screen and (min-width: 768px) {
            font-size: 1.2rem;
        }
    }
}
.menu {
    display: none;
    @media only screen and (min-width: 768px) {
        margin-top: 30px;
        display: inline-block;
    }
    .title {
        margin: 25px 0 5px 0;
        color: #000;
        a {
          width: 100%;
          color: #000;
          text-decoration: none;
          &:hover {
              color: rgb(86, 122, 223);
          }
        }
    }
    hr {
        margin: 5px 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: 2px 0;
            a {
                width: 100%;
                color: #666;
                text-decoration: none;
                &:hover {
                    color: rgb(86, 122, 223);
                }
            }
            &.active > a {
                color: rgb(86, 122, 223);
            }
        }
    }
}
.code {
    font-family: Menlo, "dejavu sans mono", "lucida console", monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    display: inline-block;
    background-color: #eee;
    margin: 0;
    padding: 0 5px;
}
pre {
    padding: 4px 10px 4px 10px;
    font-family: Menlo, "dejavu sans mono", "lucida console", monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18px;
    background-color: #eee;
    width: 100%;
    text-align: left;
}
.example {
    td:first-child {
      background-color: #fff !important;
    }
    td:last-child {
      background-color: #f8faff !important;
    }
    h5 {
      padding-top: 5px;
      padding-left: 10px;
    }
    pre {
      background-color: unset;
      .js {
        background-color: #f0f0f4;

      }
    }
}
footer {
    background-color: #eee;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    a {
        color: #000;
    }
    .badge {
      color: #fff;
      font-size: 0.9rem;
    }
}
